<!DOCTYPE html>
<html>
<head>
    <title>Segunda entrega curso NodeJS</title>
    <link href="css./style.css" rel="stylesheet" type="text/css">

</head>
<body>
    <header>
        <h1>SISTEMA DE INSCRIPCION DE CURSOS DE EDUCACION CONTINUA</h1>
        <p>Seleccione el rol con el cual va a iteractuar</p>
        <a href="/rolCoordinador">Coordinador</a> <br>
        <a href="/rolInteresado">Interesado</a> <br>
        <a href="/rolAspirante">Aspirante</a> <br>
		<br>
    </header>